.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav_ul {
  display: flex;
  justify-content: space-between;
}
.nav_a {
  color: #2e363e;
  position: relative;
}
.nav_notifs {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav_notifications {
  left: 30px;
  bottom: 25px;
}
@keyframes appearButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav_li {
  transform: translateY(80px);
  animation: appearButton 1s ease-in-out forwards;
}
.nav_li:nth-child(2) {
  animation-delay: 0.2s;
}
.nav_li:nth-child(3) {
  animation-delay: 0.4s;
}
.nav_li:last-child {
  animation-delay: 0.6s;
}
.nav_li_d {
  transform: translateY(80px);
  animation: appearButton 1s ease-in-out forwards;
  animation-delay: 2s;
}
.nav_li_d:nth-child(2) {
  animation-delay: 2.2s;
}
.nav_li_d:nth-child(3) {
  animation-delay: 2.4s;
}
.nav_li_d:last-child {
  animation-delay: 2.6s;
}
