.screen-header {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal);
  align-items: center;
  margin-bottom: 15px;
}
.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header_icons span {
  margin-left: 25px;
}
.fa-cog {
  position: relative;
}
@keyframes cogRotation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.notifs_cog {
  position: absolute;
  right: 18px;
  top: 50px;
}
.screen-header_icons .fa-cog:hover {
  animation: cogRotation 1s ease-in-out infinite;
}
